.container {
    display: flex; /* manipular el contenido del contenedor*/
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#calculadora {
    /*Permite establecer que el contenido se va a distribuir visualmente en una cuadricula */
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px; /*Determina el tamaño de la fila*/
    background-color: #0b1bc7;
    border-radius: 15px;
    padding: 25px;

}
#display {
    grid-column: span 4; 
    border: 1px solid black;
    background-color: rgb(6, 238, 242);
    text-align: right;
    padding: 15px 10px;
    margin-bottom: 10px;
    font-size: clamp(20px, 4vw, 30px); 
    border-radius: 15px;
    overflow-x: auto; 
    white-space: nowrap; 
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    scrollbar-width: thin; 
    scrollbar-color: #0b1bc7 transparent;
}

.column-2{
    grid-column: span 2;
}
button{
    cursor: pointer;
    margin: 5px;
    border-radius: 35px;
    border: none;
    background-color: rgb(244, 249, 248);
    font-size: 25px;
    color: black;
    font-family: digital-7; /*Tipo de letra*/

}

button:hover{ /* Resalta de un color el botón*/
    background-color: aquamarine;
}
button:active{
    background-color: rgb(77, 230, 125);
}