.container{
    display : flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background: #10b1da;
}

/* No esta en linea sino arriba */
p:before{
    content: attr(type);
    display: block;
    font-size: 20px;
    color: #ec0c0c;
    margin-top: 35px;
    
}
input{
    width: 270px;
    border: none;
    border-bottom: 2px solid #30ff07;
    background: none;
    color: #e4ec0c;
}

input:focus{
    outline: none;
    border-bottom: 3px solid #4d02fc;

}
.formulario{
    background: #b3d0d8;
    border-radius: 10px;
    padding: 30px 40px;
    /*Estilo tipo sombra*/
    box-shadow: 10px 30px #6c6c7c;
}

button{
    background: #a7cae1;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}
.centrar-boton{
    display: flex;
    justify-content: center;
}

h2,
header{
    color: #0a0206;
    border-bottom: 2px solid #e4ec0c;
    font-size: 35px;

}

.msg_error{
    background: #f6f8f7;
    border-left: 5px solid red;
    padding: 10px;
    color: #f50202;
    display: none;
    font-weight: bold;
}

.error_asteristico{
    color: red;
    font-weight: bold;
    font-size: 18px;
}



